<input
  type="text"
  [(ngModel)]="this.searchterm"
  placeholder="Nutzersuche"
  (input)="search()"
/>
<br /><br />
<div>
  <app-chat-preview
    *ngFor="let user of searchResults"
    [username]="user"
    (newClickEvent)="setSelectedChat($event)"
  ></app-chat-preview>
</div>
<div class="parent">
  <div class="contacts">
    <div style="font-weight: bold">letzte Kontakte</div>
    <button (click)="createGroup()">Gruppe erstellen</button>
    <div style="overflow: auto; max-height: 80vh">
      <app-chat-preview
        *ngFor="let user of contacts"
        [username]="user"
        [userID]="user"
        (newClickEvent)="setSelectedChat($event)"
      ></app-chat-preview>
      <br />
      <app-chat-preview
        *ngFor="let group of groups"
        [username]="group.name"
        [userID]="group.id"
        (newClickEvent)="setSelectedChat($event)"
      ></app-chat-preview>
    </div>
  </div>
  <div class="chat">
    <div style="font-weight: bold">Chatverlauf - {{ this.selectedChat }}</div>
    <div
      style="overflow: auto; max-height: 80vh; margin-bottom: 1em"
      class="messageContainer"
    >
      <app-conversation [messages]="selectedMessages"></app-conversation>
    </div>
    <div>
      <input
        type="text"
        [(ngModel)]="this.content"
        placeholder="Nachricht an {{ this.selectedChat }}"
      />
      <button (click)="sendMessage()">send</button>
    </div>
  </div>
</div>
<style>
  .parent {
    display: flex;
  }
  .contacts {
    margin-right: 3em;
  }
</style>
