<input type="text" [(ngModel)]="this.content" />
<input type="text" [(ngModel)]="this.receiver" placeholder="Empfänger"/>
<button (click)="sendMessage()">send</button>

<input type="text" [(ngModel)]="this.searchterm" placeholder="Nutzersuche"/>
<button (click)="search()">suchen</button>


<div>Chatverlauf</div>
<app-conversation [messages]="selectedMessages"></app-conversation>
<div>letzte Kontakte</div>
<app-chat-preview
  *ngFor="let user of contacts"
  [username]="user"
  (newClickEvent)="setSelectedChat($event)"
></app-chat-preview>
